<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="pnbMetng2">
  
   <groups>
         <run>
                  <include name= "searchData"/>             
                   <exclude name="login" />
         </run>
     </groups>
   
    <classes>
      <!--<class name="TestCases.PNBMetLIfeHomePage_TestCases"/>-->
    <!-- <class name="TestCases.VerifyLogin"/> -->
      <class name="LoginListTestCases.LoginDropDownTestcase"/>
      
    </classes>
  </test> <!-- pnbMetng2 -->
</suite> <!-- Suite -->
